:root {
    --text-color: #212529;
    --text-highlight-color: #414952;
}

* {
    text-decoration: none !important;
}

.prm-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-around;
}

.prm-brand > a {
    font-size: 2rem;
    color: var(--text-color) !important;
}

.prm-navlinks {
    display: flex;
    gap: 1rem;
}

.prm-navlinks > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: .5rem 1rem;
}

.prm-navlinks > a:hover {
    color: var(--text-highlight-color);
}

.prm-boards-container {
    display: grid;
    grid-template-columns: 7.5rem auto;
}

.prm-boards-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.prm-boards-list > a, .create-board-btn {
    display: block;
    padding: .25rem;
    background-color: #E9E9ED;
    border: none;
    border-radius: .25rem;
}

.prm-boards-list > a:hover, .create-board-btn:hover {
    background-color: #d0d0d7;
}

/* Board Styles */
/* Board Header */


/* TEMPORARY STYLES */
.prm-boards-container {
    padding: .5rem;
    border: 1px solid black;
}

.prm-boards-list {
    padding-right: .5rem;
    border-right: 1px solid black; 
}
