:root {
    --text-color: #212529;
    --text-highlight-color: #414952;
}

* {
    text-decoration: none !important;
}

.prm-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-around;
}

.prm-brand > a {
    font-size: 2rem;
    color: var(--text-color) !important;
}

.prm-navlinks {
    display: flex;
    gap: 1rem;
}

.prm-navlinks > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: .5rem 1rem;
}

.prm-navlinks > a:hover {
    color: var(--text-highlight-color);
}

.prm-boards-container {
    display: grid;
    grid-template-columns: 7.5rem auto;
}

.prm-boards-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.prm-button {
    display: block;
    padding: .25rem;
    background-color: #E9E9ED;
    border: none;
    border-radius: .25rem;
}

.prm-button:hover {
    background-color: #d0d0d7;
}

.prm-boards-container {
    padding: .5rem;
    border: 1px solid black;
}

#ActiveBoardTab, #ActiveBoardTab > * {
    background-color: dodgerblue;
    color: white;
}

#prm-list-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: .5rem;
    gap: .5rem;
    overflow-x: auto;
    flex-grow: 1;
}

.prm-list {
    min-width: 15rem;
    padding: .5rem;
    border: black solid 1px;
}

.prm-add-list-btn {
    min-width: 15rem;
}

.prm-board {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.prm-card-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.prm-card {
    padding: .5rem;
    border: black solid 1px;
    word-break: break-all;
}

.prm-card > p {
    margin: 0;
}

.prm-boards-list {
    padding-right: .5rem;
    border-right: 1px solid black; 
}

.board-list-item {
    position: relative;
}

.prm-board-link {
    position: relative;
    z-index: 99;
}

#delete-board-button {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: none;
    border-radius: 100rem;
    aspect-ratio: 1/1;
    background-color: #ef2f45;
    color: white;

    animation: slideOut 0.5s ease-out forwards
}

/* ANIMATIONS */

@keyframes slideOut {
    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3rem);
    }
}