{% extends "layout.html" %}
{% block body %}
    <main class="container py-5 text-center">
        <div class="prm-boards-container">
            <div class="prm-boards-list">
                {% for board in users_boards %}
                <div class="board-list-item">
                    <a class="prm-button prm-board-link" {% if board.id == active_board.id %} id="ActiveBoardTab" {% endif %} spellcheck="false" href="/board/{{ board.id }}">{{ board.title }}</a>
                    {% if board.id == active_board.id %} <button id="delete-board-button"><i data-lucide="x"></i></button> {% endif %}
                </div>
                {% endfor %}
                <button class="prm-button" id="prm-create-board-button">Create new board</button>
            </div>
            <!-- THIS IS THE CONTAINER FOR THE BOARD -->
            <div data-board-id="{{ active_board.id }}" class="prm-board">
                <!-- Title Container -->
                <div>
                    <h1 id="prm-board-title" spellcheck="false" contenteditable="true">{{ active_board.title }}</h1>
                </div>
                <!-- List Container -->
                <div id="prm-list-container">
                    <!-- GENERATE LISTS -->
                    {% for list in board_lists %}
                    <div class="prm-list" data-list-id="{{ list.id }}">
                        <h2 class="prm-list-title" spellcheck="false" contenteditable="true">{{ list.title }}</h2>
                        <div class="prm-card-container">
                            {% for card in board_cards %}
                            {% if card.lists_id == list.id %}
                            <div class="prm-card" data-card-id="{{ card.id }}">
                                <p class="prm-card-content" spellcheck = "false" contenteditable="true">{{ card.content }}</p>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <button class="prm-button add-card-button">Add Card</button>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="prm-button prm-add-list-btn" id="add-list-btn">Add List</button>
                    <!-- END OF LIST GENERATION -->
                </div>
            </div>
            <!-- END OF BOARD CONTAINER -->
        </div>
    </main>
{% endblock %}