{% extends "layout.html" %}
{% block body %}
    <main class="prm-page-container">
        <div class="prm-boards-list">
            {% for board in users_boards %}
            <div class="prm-boards-list-item">
                {% if board.id == active_board.id %} <button id="delete-board-button"><i data-lucide="x"></i></button> {% endif %}
                <a class="button prm-board-link" {% if board.id == active_board.id %} id="ActiveBoardTab" {% endif %} spellcheck="false" href="/board/{{ board.id }}">{{ board.title }}</a>
            </div>
            {% endfor %}
            <button id="prm-create-board-button">Create new board</button>
        </div>
        <!-- THIS IS THE CONTAINER FOR THE BOARD -->
        <div class="prm-board" data-board-id="{{ active_board.id }}">
            <!-- Title Container -->
            <h1 class="text-input" id="prm-board-title" spellcheck="false" contenteditable="true">{{ active_board.title }}</h1>
            <!-- List Container -->
            <div id="prm-list-container">
                <!-- GENERATE LISTS -->
                {% for list in board_lists %}
                <div class="prm-list" data-list-id="{{ list.id }}">
                    <div class="prm-list-title">
                        <h2 class="prm-list-title-text text-input" spellcheck="false" contenteditable="true">{{ list.title }}</h2>
                        <button class="prm-delete-list-button"><i data-lucide="x"></i></button>
                    </div>
                    <div tabindex="-1" class="prm-card-container">
                        <!-- GENERATE CARDS -->
                        {% for card in board_cards %}
                        {% if card.lists_id == list.id %}
                        <div class="prm-card" data-card-id="{{ card.id }}">
                            <p class="prm-card-content text-input" spellcheck = "false" contenteditable="true">{{ card.content }}</p>
                            <button class="prm-delete-card-button"><i data-lucide="x"></i></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!-- END OF CARD GENERATION -->
                        <button class="prm-add-card-button">Add Card</button>
                    </div>
                </div>
                {% endfor %}
                <button class="prm-add-list-button" id="add-list-btn">Add List</button>
                <!-- END OF LIST GENERATION -->
            </div>
        </div>
        <!-- END OF BOARD CONTAINER -->
    </main>
{% endblock %}