{% extends "layout.html" %}
{% block body %}
    <main class="prm-form-page-container">
        <div class="prm-form-container">
            <h1>Login</h1>
            <form class="prm-form" action="/login" method="post">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                <button class="button form-button" type="submit">Login</button>
            </form>
        </div>
    </main>
{% endblock %}