<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promethium</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script>
            if (window.innerWidth > 768) {
                window.location.href = '/'; 
            }
        </script>
    </head>
    <body>
        <main class="mobile-blocker">
            <h3>Sorry, this website is incompatible with mobile devices</h3>
        </main>
        <script src="{{ url_for('static', filename='helpers.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>