{% extends "layout.html" %}
{% block body %}
    <main class="prm-form-page-container">
        <div class="prm-form-container">
            <h1>Register</h1>
            <form class="prm-form" action="/register" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="password-confirmation" placeholder="Confirm password" type="password">
                </div>
                <button class="button form-button" type="submit">Register</button>
            </form>
        </div>
    </main>
{% endblock %}