{% extends "layout.html" %}
{% block body %}
    <main class="prm-form-page-container">
        <div class="prm-form-container">
            <h1>Register</h1>
            <form class="prm-form" action="/register" method="post">
                <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
                <input autocomplete="off" name="password" placeholder="Password" type="password" required>
                <input autocomplete="off" name="password-confirmation" placeholder="Confirm password" type="password" required>
                <button class="button form-button" type="submit">Register</button>
            </form>
        </div>
    </main>
{% endblock %}